<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locly - Welcome to the Locly!</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  <body>
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger alert-dismissible" style="margin-bottom: 0px;">
          <strong><%= error %></strong>
          <a href="/home" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    <% } %>

    <% if(success && success.length > 0){ %>
        <div class="alert alert-success alert-dismissible" style="margin-bottom: 0px;">
          <strong><%= success %></strong>
          <a href="/home" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    <% } %>

    <% if(warning && warning.length > 0){ %>
        <div class="alert alert-warning alert-dismissible" style="margin-bottom: 0px;">
          <strong><%= warning %></strong>
          <a href="/home" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    <% } %>
