<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locly - Welcome to the Locly!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/app.css" />
  </head>

  <body>
    <main>
      <section class="home">
        <div class="row">
          <div class="col-md-6">
            <div class="row flex-column">
              <div> 

                <div
                class="aP0iDg _8wgmBA"
                style="
                  width: 73.4951px;
                  height: 36.7475px;
                  transform: translate(122.973px, 65px) rotate(-180deg);
                ">
                  <div
                    class="DvXlvQ"
                    style="
                      width: 73.4951px;
                      height: 36.7475px;
                      transform: translate(0px, 0px) rotate(0deg);
                    "
                  >
                    <div class="Xv5OvA">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          x="0px"
                          y="0px"
                          viewBox="0 0 500 249.996"
                          enable-background="new 0 0 500 249.996"
                          xml:space="preserve"
                          style="fill: rgb(0, 0, 0)"
                          role="img"
                          aria-label="Semi-Circle"
                        >
                          <g id="__id86_s1x4br1jau">
                            <path
                              d="M249.996,249.996C388.069,249.996,500,138.068,500,0H0C0,138.068,111.929,249.996,249.996,249.996z"
                              style="fill: rgb(255, 202, 40)"
                            >
                            </path>
                          </g>
                        </svg>
                      </div>
                  </div>
                  
                </div>
              
                <div class="aP0iDg _8wgmBA"
                  style="
                    width: 37.7691px;
                    height: 37.7691px;
                    transform: translate(140.836px, 110.054px) rotate(-180deg);
                  "
                >
                  <div class="JA2azA" style="width: 37.7691px; height: 37.7691px">
                    <div>
                      <svg
                        preserveAspectRatio="none"
                        class="vL6BBg"
                        viewBox="0 0 500 500"
                      >
                        <path
                          class="SQ2ADw"
                          d="M250,0A250 250 0 10 250,500A250 250 0 10 250,0z"
                          fill="#ff7043"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <svg
                    preserveAspectRatio="none"
                    class="vL6BBg"
                    viewBox="0 0 500 500"
                  >
                    <use xlink:href="#__id82_0"></use>
                  </svg>
                </div>

              </div>
              

              <div class="landing-content">
                <h1>LOCLY</h1>
                <hr />
                <p>A place for all the services you need in daily life</p>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="service-img"></div>
            <!-- <h3>this is image</h3> -->
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
