<%- include("partials/header") %>
<style>
  .error {
    color: #ff5a28;
    font-size: 12px;
  }

  .error-msg {
    color: #ff5a28;
    font-size: 12px;
  }
</style>

<main>
    
      <div class="row form-row">
    <div class="col-md-4 p_card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="cons-tab"
          data-bs-toggle="tab"
          data-bs-target="#cons"
          type="button"
          role="tab"
          aria-controls="cons"
          aria-selected="true"
        >
          Consumer
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pro-tab"
          data-bs-toggle="tab"
          data-bs-target="#pro"
          type="button"
          role="tab"
          aria-controls="pro"
          aria-selected="false"
        >
          Provider
        </button>
      </li>
    </ul>
    <div class="text-center mt-4">
          <p>Already registered? <a href="/login" style="color: #42a5f5;"> login</a></p>
        </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="cons"
        role="tabpanel"
        aria-labelledby="cons-tab"
      >
        <form id="reg-user">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="uname"
            aria-describedby="emailHelp"
            placeholder="Email address"
            name="username"
          />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group px-2">
                <input
                    type="text"
                    class="form-control"
                    id="fname"
                    aria-describedby="emailHelp"
                    placeholder="First Name"
                    name="firstName"
                />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group px-2">
                <input
                    type="text"
                    class="form-control"
                    id="lname"
                    aria-describedby="emailHelp"
                    placeholder="Last Name"
                    name="lastName"
                />
                </div>
            </div>
        </div>
        <div class="form-group">
          <input
            type="tel"
            class="form-control"
            id="contact_number"
            aria-describedby="emailHelp"
            placeholder="Contact Number"
            name="contactNumber"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="confirm_pass"
            placeholder="Confirm Password"
            name="confirm_pass"
          />
        </div>
        <button type="submit" id="reg-user-btn" class="btn btn-warning mt-3">Register</button>
      </form>
      </div>
      <div
        class="tab-pane fade"
        id="pro"
        role="tabpanel"
        aria-labelledby="pro-tab"
      >
        <form id="reg-provider">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="Email1"
            aria-describedby="emailHelp"
            placeholder="Email address"
            name="username"
          />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group px-2">
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    aria-describedby="emailHelp"
                    placeholder="First Name"
                    name="firstName"
                />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group px-2">
                <input
                    type="text"
                    class="form-control"
                    id="1lname"
                    aria-describedby="emailHelp"
                    placeholder="Last Name"
                    name="lastName"
                />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input
                type="tel"
                class="form-control"
                id="number"
                aria-describedby="emailHelp"
                placeholder="Contact Number"
                name="contactNumber"
            />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group px-2">
                <select name="serviceType" id="service" class="form-select" aria-label="Default select example">
                    <option selected>Service Type</option>
                    <option value="Electrician">Electrician</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Mechanic">Mechanic</option>
                    <option value="Gardener">Gardener</option>
                    <option value="Cook">Cook</option>
                </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input
                        type="number" 
                        min="0.00" 
                        step="10.00"
                        class="form-control"
                        id="b_charges"
                        placeholder="Basic Charges"
                        name="basicCharges"
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input
                type="text" 
                class="form-control"
                id="city"
                placeholder="Address(City & State)"
                name="area"
            />
        </div>
        <div class="form-group">
            <textarea name="description" id="desc" class="form-control" rows="3" placeholder="Describe your service in short"></textarea>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="Password1"
            placeholder="Password"
            name="password"
          />
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="c_pass"
            placeholder="Confirm Password"
            name="confirm_pass"
          />
        </div>
        <button type="submit" id="reg-provider-btn" class="btn btn-warning mt-3">Register as Provider</button>
      </form>
      </div>
      </div>
    </div>      
    </div>
  </div>
</main>

<%- include("partials/footer") %>
