<%- include("partials/header") %>

<main>
    
      <div class="row form-row">
    <div class="col-md-4 p_card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="cons-tab"
          data-bs-toggle="tab"
          data-bs-target="#cons"
          type="button"
          role="tab"
          aria-controls="cons"
          aria-selected="true"
        >
          Consumer
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pro-tab"
          data-bs-toggle="tab"
          data-bs-target="#pro"
          type="button"
          role="tab"
          aria-controls="pro"
          aria-selected="false"
        >
          Provider
        </button>
      </li>
    </ul>
    <div class="text-center mt-4">
          <p>Already registered? <a href="/login" style="color: #42a5f5;"> login</a></p>
        </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="cons"
        role="tabpanel"
        aria-labelledby="cons-tab"
      >
        <form action="/register/consumer" method="post">
        <!-- <div class="form-group">
          <label for="exampleInputusername">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputusername"
            aria-describedby="emailHelp"
            placeholder="Enter username"
          />
        </div> -->
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Email address</label> -->
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email address"
            name="user[username]"
            required
          />
          <!-- <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          > -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group px-2">
            <!-- <label for="exampleInputname">First Name</label> -->
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputname"
                    aria-describedby="emailHelp"
                    placeholder="First Name"
                    name="user[firstName]"
                />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group px-2">
                <!-- <label for="exampleInputlname">Last Name</label> -->
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputlname"
                    aria-describedby="emailHelp"
                    placeholder="Last Name"
                    name="user[lastName]"
                />
                </div>
            </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputnumber">Contact Number</label> -->
          <input
            type="tel"
            class="form-control"
            id="exampleInputnumber"
            aria-describedby="emailHelp"
            placeholder="Contact Number"
            name="user[contactNumber]"
            minlength="10"
            maxlength="10"
            required
          />
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Confirm Password"
            name="confirm_pass"
            required
          />
        </div>
        <button type="submit" class="btn btn-warning mt-3">Register</button>
      </form>
      </div>
      <div
        class="tab-pane fade"
        id="pro"
        role="tabpanel"
        aria-labelledby="pro-tab"
      >
        <form action="/register/provider" method="post">
        <!-- <div class="form-group">
          <label for="exampleInputusername">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputusername"
            aria-describedby="emailHelp"
            placeholder="Enter username"
          />
        </div> -->
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Email address</label> -->
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email address"
            name="user[username]"
            required
          />
          <!-- <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          > -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group px-2">
            <!-- <label for="exampleInputname">First Name</label> -->
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputname"
                    aria-describedby="emailHelp"
                    placeholder="First Name"
                    name="user[firstName]"
                />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group px-2">
                <!-- <label for="exampleInputlname">Last Name</label> -->
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputlname"
                    aria-describedby="emailHelp"
                    placeholder="Last Name"
                    name="user[lastName]"
                />
                </div>
            </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputnumber">Contact Number</label> -->
            <input
                type="tel"
                class="form-control"
                id="exampleInputnumber"
                aria-describedby="emailHelp"
                placeholder="Contact Number"
                name="user[contactNumber]"
                minlength="10"
                maxlength="10"
                required
            />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group px-2">
                <select name="service[serviceType]" class="form-select" aria-label="Default select example">
                    <option selected>Service Type</option>
                    <option value="Electrician">Electrician</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Mechanic">Mechanic</option>
                    <option value="Gardener">Gardener</option>
                    <option value="Cook">Cook</option>
                </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <!-- <label for="exampleInputPassword1">Password</label> -->
                    <input
                        type="number" 
                        min="0.00" 
                        step="10.00"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder="Basic Charges"
                        name="service[basicCharges]"
                        required
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input
                type="text" 
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Address(City & State)"
                name="service[area]"
                required
            />
        </div>
        <div class="form-group">
            <textarea name="service[description]" class="form-control" rows="3" placeholder="Describe your service in short"></textarea>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Confirm Password"
            name="confirm_pass"
            required
          />
        </div>
        <button type="submit" class="btn btn-warning mt-3">Register as Provider</button>
      </form>
      </div>
      </div>
    </div>      
    </div>
  </div>
</main>

<%- include("partials/footer") %>
