@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@500&display=swap");

:root {
  --yellow: #ffca28;
  --text-dark: #474747;
  --text-dark-o: #363636da;
  --text-light: #ddd;
  --text-gray: #767676;
  --light-green: #66bb6a;
  --red-orange: #ff7043;
  --blue-info: #42a5f5;
}

* {
  margin: 0;
  padding: 0;
}

*::selection {
  /* background: rgb(255, 112, 67); */
  background: var(--yellow);
  color: #363636;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: var(--light-green);
  min-height: 100vh;
}

.alert {
  display: flex;
  justify-content: space-between;
}

.alert .close {
  background: transparent;
  border: none;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utilities */
.cus-bg-dark {
  background-color: var(--red-orange);
}

.cus-text-justify {
  text-align: justify;
}

.row .col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

.landing-content {
  font-family: "Montserrat", sans-serif;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30%;
}

.landing-content h1 {
  font-size: 72px;
  font-weight: 700;
  color: #363636;
}

.landing-content hr {
  height: 5px;
  background-color: #767676;
  color: #767676;
}

.landing-content p {
  color: #dddddd;
  font-size: 28px;
  font-weight: 500;
}

.service-img {
  /* background: #ff7043; */
  background: url("../images/services-collage.png") no-repeat center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50% 0 0 0/100% 0 0 0;
}

/* .service-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #ff7043;
  /* border-radius: 0 0 0 50%/0 0 0 100%; */
/* } */

/* Services Page Styles */
.navbar .container-fluid {
  display: flex;
  align-items: center;
}

.navbar-collapse {
  justify-content: flex-end;
}

.logo-container {
  border-bottom: 1px solid #767676;
}

.navbar-brand {
  color: var(--text-dark) !important;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand:hover {
  background-color: #ffca28 !important;
}

.nav-link {
  color: var(--text-dark-o) !important;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-weight: bold;
}

.nav-link:hover,
.nav-link.active {
  color: #000 !important;
}

.offcanvas-header {
  background: var(--light-green);
}

.offcanvas-body {
  background: var(--text-light);
}

.filter-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--text-light);
  border: none;
  width: 10%;
  right: 0;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red-orange);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 54px;
  margin: 2rem auto;
  padding: 1rem;
}

.list-group-flush {
  border-radius: 5px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.dropdown-menu {
  background-color: var(--text-dark);
}

.dropdown-item {
  color: var(--text-light);
}

.services-main {
  margin-top: 6rem;
}

.services-main .col-md-3 {
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.services-main .p_card:hover {
  background: var(--red-orange);
  cursor: pointer;
  transition: all 1s;
}

.service_title {
  color: var(--text-dark);
  position: relative;
  margin-top: 7rem !important;
}

.service_title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 80%;
  background-color: var(--red-orange);
  left: 10%;
  bottom: -15px;
  border-radius: 2px;
}

.p_card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 1rem;
  /* background: var(--yellow); */
  background: var(--text-light);
}

.p_card_top {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.provider_pic_container {
  display: inline-block;
}

.provider_pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.provider_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.appointment_btn {
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 10px;
  color: var(--text-dark) !important;
  /* border: 2px solid var(--blue-info); */
  background-color: var(--yellow);
}

.appointment_btn:hover {
  background-color: var(--yellow);
  /* color: #fff !important; */
}

.form-row {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .form-row {
  min-height: 80vh;
}

#myTab {
  justify-content: center;
}

.nav-tabs .nav-link {
  border-radius: 0.25rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: var(--red-orange);
  border-color: var(--red-orange);
}

.form-row form {
  margin-top: 2rem;
}

.form-tabs div {
  /* background: var(--light-green); */
  width: 80%;
  margin-left: 10%;
  font-size: 1.2rem;
}

.cons-tab,
.pro-tab {
  padding: 0.5rem;
  border-radius: 3px;
}

.cons-tab {
  background: var(--light-green);
}

.pro-tab {
  background: var(--red-orange);
}

.form-row .p_card {
  padding: 2rem;
}

.form-control,
.form-control:focus,
.form-select,
.form-select:focus,
textarea,
textarea:focus-visible {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--text-gray);
  margin-top: 1rem;
  box-shadow: none;
}

.form-row .btn {
  float: right;
}

/* Book Appointment Form */
#book-appointment-form .form-control {
  margin-top: 0;
  border-radius: 4px;
  border: 1px solid gray;
}

#book-appointment-form textarea {
  padding: 8px;
}

.appointments .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Provider DashBoard */

.appointment-card {
  background-color: var(--text-light);
  border-radius: 10px;
}

.appointment-card:hover {
  background-color: var(--red-orange);
}

.markDone_btn {
  background-color: var(--yellow);
}

.markDone_btn:hover {
  background-color: var(--yellow);
}

.nav-pills > .nav-item > .active {
  background-color: var(--yellow);
  color: #eee !important;
}
