@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

:root{
    --yellow:  #ffca28;
    --text-dark: #363636;
    --text-light: #ddd;
    --text-gray: #767676;
    --light-green: #66bb6a;
    --red-orange: #ff7043;
    --blue-info: #42a5f5;
}

/* Utilities */
.cus-bg-dark{
  background-color: var(--text-dark);
}

.home {
  background: #66bb6a;
}

.row .col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

.landing-content {
  font-family: "Montserrat", sans-serif;
  padding-left: 10%;
  padding-top: 30%;
}

.landing-content h1 {
  font-size: 72px;
  font-weight: 700;
  color: #363636;
}

.landing-content hr {
  height: 3px;
}

.landing-content p {
  color: #dddddd;
  font-size: 28px;
  font-weight: 500;
}

.service-img {
  /* background: #ff7043; */
  background: url("../images/services-collage.png") no-repeat center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50% 0 0 0/100% 0 0 0;
}

/* .service-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #ff7043;
  /* border-radius: 0 0 0 50%/0 0 0 100%; */
/* } */


/* Services Page Styles */
.logo-container{
  border-bottom:1px solid #767676;
}

.logo{
  color: var(--blue-info);
}

.dropdown-menu{
  background-color: var(--text-dark);
}

.dropdown-item{
  color: var(--text-light);
}

.service_title{
  color: var(--text-dark);
  position: relative;
}

.service_title::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 60%;
  background-color: var(--yellow);
  left:20%;
  bottom: -15px;
  border-radius: 2px;
}

.p_card{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
}

.p_card_top{
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.provider_pic_container{
  display: inline-block;
}

.provider_pic{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.provider_info{
  display: flex;
  justify-content: center;
  flex-direction: column  ;
}

.appointment_btn{
  border-radius: 5px;
  text-decoration: none;
  padding: 4px;
  color: var(--blue-info) !important;
  border: 1px solid var(--blue-info);
}

.appointment_btn:hover{
  background-color: var(--blue-info);
  color: #fff !important;
}